.mainContainer {
  display: flex;
  flex-direction: row;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  border-radius: 10px;
  border: 2px solid darkblue;
  overflow: auto;
}

.mainContainer_leftColumn {
  background-color: #005f73;
  width: 15%;
  height: 140vh;
  float: left;
  padding: 10px;
}
#skills::after,
#databases::after {
  content: "";
  display: block;
  width: 95%;
  border-bottom: 2px solid white;
}

h1 {
  content: "";
  display: block;
  border-bottom: 5px solid black;
}

.contacts p:first-child::after{
    content: "";
    display: block;
    border-bottom: 2px solid black;
}

.contactContainer a{
    font-weight: 500;
}

.mainContainer_rightColumn_head {
  background-color: #ee9b00;
  padding: 10px;
}

.mainContainer_rightColumn_descriptionContainer h3::after{
    content: "";
    display: block;
    border-bottom: 2px dashed darkslategrey;
    padding-top: 5px;
}

.mainContainer_leftColumn_head h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mainContainer_leftColumn label,
p {
  color: black;
  text-transform: capitalize;
  font-size: medium;
  font-weight: bold;
}

.mainContainer_leftColumn ul {
  font-size: medium;
  font-weight: bold;
  list-style-type: none;
}

.mainContainer_leftColumn li {
  border-radius: 8px;
  background-color: bisque;
  padding: 1px;
  text-align: center;
  border: 2px solid black;
  margin-top: 5px;
}

.mainContainer_rightColumn_descriptionContainer {
  padding: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

.mainContainer_rightColumn_descriptionContainer p {
  font-size: small;
  font-weight: 500;
}

.mainContainer_rightColumn {
  width: 85%;
  height: 100vh;
  float: right;
}

.mainContainer_rightColumn_descriptionContainer_table {
  border: 1px solid black;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

.mainContainer_rightColumn_descriptionContainer_table th,
td,
tr {
  border: 1px solid black;
  padding: 5px;
}

.mainContainer_rightColumn_descriptionContainer_table thead tr th:first-child {
  background: white;
  border-left-color: white;
  border-top-color: white;
}
.mainContainer_rightColumn_descriptionContainer_table
  thead
  tr:first-child
  th:first-child {
  border-bottom: none;
}

.mainContainer_rightColumn_descriptionContainer_table tbody tr:nth-child(odd) {
  background: #0a9396;
}

.mainContainer_rightColumn_descriptionContainer_table tbody tr:nth-child(even) {
  background: #94d2bd;
}

thead tr:first-child {
  background: #005f73;
}

thead tr:nth-child(2) {
  background: #ee9b00;
}

thead tr:first-child {
  text-transform: uppercase;
}

td:first-child {
  font-weight: bold;
}

.mainContainer_leftColumn_img {
  border-radius: 60%;
  height: auto;
  width: 60%;
}

.mailContacts,
.phoneContacts {
  display: flex;
  flex-direction: row;
  width: 50%;
  padding: 5px;
}

.mailContacts svg,
.phoneContacts svg {
  padding-right: 5px;
  padding-top: 2px;
}

.contactContainer {
  display: flex;
  flex-direction: row;
}

.signature {
  font-size: 50px;
  font-family: "Babylonica", cursive;
  float: right;
  padding-right: 20px;
  margin-bottom: 50px;
}
